[tool.poetry]
name = "globus-timer-cli"
version = "0.1.5"
description = "CLI for interacting with the timer API"
authors = ["Rudyard Richter <rudyard@globus.org>"]
keywords = [
  "globus",
  "automation",
  "cli"
]
classifiers = [
  "Development Status :: 4 - Beta",
  "Intended Audience :: Developers",
  "License :: Free To Use But Restricted",
  "Programming Language :: Python :: 3.6",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Topic :: Internet :: WWW/HTTP",
  "Topic :: Software Development :: Libraries :: Application Frameworks",
  "Topic :: Software Development :: Libraries :: Python Modules"
]
readme = "pypi/README.md"
packages = [
    { include = "timer_cli" }
]

[tool.poetry.scripts]
globus-timer = "timer_cli.main:main"

[tool.poetry.dependencies]
python = "^3.5"
typer = "^0.3.1"
fair-research-login = "^0.1.5"
requests = "^2.24.0"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
